requests==2.32.3
cryptography==43.0.0
python-dotenv>=1.0.1
pytest==7.4.4
pytest-mock==3.15.1
responses==0.26.0
nba_api==1.11.4
scikit-learn==1.5.1
scipy==1.13.1
numpy==1.26.4
pandas==2.2.2
matplotlib==3.9.2
